*{
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
}

body{
 font-family: 'Segoe UI',sans-serif;
 background: linear-gradient(#052e55 ,#eaedf0);
 color: white;
}

header{
    background-color: #010e1a;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 10px 20px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    background-color: white;
    padding: 8px 16px;
    border-radius: 50%;
    color: #011129;
    font-size: 24px;
    font-weight: bolder;
}

.nav-links{
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links li a.active, 
.nav-links li a:hover{
    color: yellow;
}

.contact-btn{
    background: white;
    color: black;
    padding: 6px 15px;
    border-radius: 20px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 20px;
}

.menu-icon{
    display: none;
    font-size: 24px;
    cursor: pointer;
    margin-left: 20px;
}

.homeSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 60px 10%;
    background: linear-gradient(#052e55 ,#eaedf0);
    min-height: 100vh;
     border-bottom: 2px solid #021f1d;
}

.home-text{
    flex: 1;
    max-width: 500px;
}

.home-text h1{
    font-size: 48px;
    margin: 10px 0;
}

.home-text h1 span{
    color: #061d33;
}

.home-text h2{
    font-size: 32px;
    margin: 15px;
    color: #ddd;
}

.home-text p{
    font-size: 20px;
    margin-bottom: 25px;
}

.hire-btn{
    background-color: #053964;
    color: whitesmoke;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
}

.home-img img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #000f11;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.sectionabout{
    background-color: #46d9ec;
    padding: 90px 20%;
    color: #111;
    border-bottom: 2px solid #021f1d;
}

.sectionabout h2{
    font-weight: bold;
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

.sectionabout p{
   font-size: 1.1rem;
   line-height: 1.7;
   margin-bottom: 15px;
   color: #333;
}

.skills-section{
    background-color: #46d9ec;
    padding: 90px 20%;
    color: #111;
   text-align: center;
    border-bottom: 2px solid #021f1d;
    
}

.skills-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
    gap:10px;
    padding: 20px 10px;
}

.skill-card{
    background-color: linear-gradient(to bottom, #e0f2ff, #c3dafe);
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.skill-card:hover{
    transform: translateY(-5px);
}

.skill-card h3{
   font-size: 1.2rem;
   margin-bottom: 10px;
   color: #1f2937;

}
.skill-card p{
    font-size: 0.95rem;
    color: #333;
}
.skill-card img{
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.projects-section{
     background-color: #46d9ec;
    padding: 90px 20%;
    color: #111;
   text-align: center;
    border-bottom: 2px solid #021f1d;
}

.projects-subtitle{
    text-align: center;
    font-size: 1rem;
    color: #111;
    margin-bottom: 40px;
}

.projects-container
{
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 30px;
    padding: 0 10px;
    flex-direction:row;
}

.project-card{
    background: rgb(176, 240, 124);
    color: #111;
    border-radius: 12px ;
    box-shadow: 0 8px 18px rgba(0,0,0,0.1);
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease;
}

.project-card:hover{
    transform: translateY(-5px);
}

.project-card img{
    width: 50%;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

.project-card h3{
    font-size: 1.2rem;
    color: #06b6d4;
    margin-bottom: 5px;
}

.project-card p{
font-size: 0.95rem;
color: #555;
margin-bottom: 15px;
}

.view-btn{
    display: inline-block;
    padding: 8px 16px;
    background-color: #06b6d4;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
}

.contact-section{
    background-color: #46d9ec;
    padding: 90px 20%;
    color: #111;
   text-align: center;
    border-bottom: 2px solid #021f1d;
}

.contact-subtitle{
    font-size: 1rem;
    max-width: #f1f1f1;
    margin-bottom: 30px;
}

.contact-form{
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea{
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
}

.contact-form button{
    padding: 10px 20px;
    font-size: 1rem;
    background-color: white;
    color: #4343a1;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

.contact-form button:hover{
    background-color: #ddd;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a img{
    width: 35px;
    height: 35px;
    margin: 0 10px;
    transition: transform 0.2s;
}

.social-icons a img:hover{
    transform: scale(1.2);
}

@media(max-width:768px){
    .nav-links{
        display: none;
        flex-direction: column;
        background-color: #111;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        padding: 10px;
    }

    .nav-links.open
    {
        display: flex;
}

.menu-icon{
    display: block;
}

.nav-actions{
    display: flex;
    align-items: center;
}

.homeSection{
 flex-direction: column;
 text-align: center;
 padding: 40px 5%;
}

.home-img{
    margin-top: 30px;
}

}

